<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;

  }

  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }


  .btn-search i {
    display: inline;
    margin-right: 0.3rem;
  }

  .search-info {
    border-radius: 25px;
    padding: 0.3rem 2.5rem 0.3rem 3rem;
  }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom  navbar-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand nav-icon" href="/listings"><i class="fa-brands fa-airbnb"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link" href="/listings">Explore</a>


      </div>

      <div class="navbar-nav  ms-auto">
        <form class="d-flex" action="/listings/search" method="get">
          <input class="form-control me-2  search-info" type="search" placeholder="Search Destination" name="location">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search </button>
        </form>
      </div>


      <div class="navbar-nav  ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) {%>
          <a class="nav-link " href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>log in</b></a>
          <% } %>
            <% if(currUser) {%>
              <a class="nav-link" href="/logout"><b>log out</b></a>
              <% } %>
      </div>
    </div>
  </div>
</nav>