  body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .container {
    flex: 1;
  }

  .navbar {
    /* height: 4rem; */
    background-color: white;
  }

  .navbar .nav-icon {
    font-size: 2rem;
    color: #fe424d !important;
  }

  .navbar-nav .nav-link {
    color: #222222 !important;
  }

  /* footer */
  .f-info-links a {
    text-decoration: none;
    color: #222222;
  }

  .f-info-links:hover {
    text-decoration: underline;
  }

  .f-info-links,
  .f-info-socials,
  .f-info-brands {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1.2rem;
  }

  .f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
  }

  /* footer complete */

  /* cards */
  .listing-card {
    border: none !important;
    margin-bottom: 2rem !important;
  }

  .card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
  }

  .card-body {
    padding: 0 !important;
  }

  .card-text {
    font-weight: 400;
  }

  .listing-links {
    text-decoration: none;
    color: #222222;
  }

  .listing-links:hover {
    color: #222222;
  }

  /* card effect */

  .card-img-overlay {
    opacity: 0;
  }

  .card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
  }

  .add-btn,
  .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
    margin-bottom: 1rem !important;
  }

  /* show page image */
  .show-img {
    height: 30vh;
  }

  .show-btn {
    display: flex;
    margin-bottom: 3rem;

  }

  .show-btn a {
    background-color: #fe424d;
    max-height: 40px;
    border: none;
    margin-right: 1.2rem;
  }

  /* Map styling */
  #map {
    height: 300px !important;
    width: 80vh !important;


  }

  .mapboxgl-popup.booking-popup .mapboxgl-popup-content {
    padding: 8px;
    background-color: whitesmoke;
    font-size: 12px;
  }